/uploads
/node_modules
.idea/modules.xml
.idea/uploady.iml
.idea/vcs.xml
.idea/.gitignore

node_modules
/node_modules
.idea
node_modules/
temp/cap2.pcap
temp/oisd.txt

server.cert
server.key
certificate.pem
privatekey.pem
dist

uploady
.gitignore
uploadyapp
uploady2
uploady3
client/build2/logo192.png
.gitignore
client/build2/favicon.ico
client/build2/logo512.png
client/build2/manifest.json
client/buildtest228.zip
.gitignore
bun.lock
client/build2/robots.txt
