/uploads
/node_modules
.idea/modules.xml
.idea/uploady.iml
.idea/vcs.xml
.idea/.gitignore

node_modules
/node_modules
.idea
node_modules/
temp/cap2.pcap
temp/oisd.txt

server.cert
server.key
certificate.pem
privatekey.pem
dist

uploady
.gitignore
uploadyapp
uploady2
uploady3
