doctype html
html
  head
    title File Manager
    link(rel="stylesheet" href="/style.css")
  body
    h1 File Manager
    if user
      p Logged in as #{user.username} |
        a(href="/logout") Logout
      form(action="/upload" method="POST" enctype="multipart/form-data")
        input(type="file" name="files" multiple)
        button(type="submit") Upload

      form(action="/share" method="POST")
        label(for="fileName") File Name:
        input(type="text" name="fileName" required)
        button(type="submit") Generate Link
      p 
        a(href="/links") All Shared Links
      ul
        each file in files
          li
            a(href=`/download/${file}`) #{file}
    else
      p You are not logged in. a(href="/login") Login