doctype html
html
  head
    title Public Link Generated
  body
    h1 Public Link Generated
    p Your file "#{fileName}" has been successfully uploaded.
    p You can download it using the following link:
    a(href=link) #{link}
    p You can share this link with anyone to allow them to download the file.
    a(href="/") Back to File Manager