doctype html
html
  head
    title Public Link Generated
    link(rel="stylesheet" href="/style.css")
  body
    h1 Public Link Generated
    p Your file "#{fileName}" has been successfully generated.
    p You can download it using the following link:
    p
        a(href=link) #{link}
    p You can share this link with anyone to allow them to download the file.
    p
        a(href="/files") Back to File Manager