doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Login
    link(rel="stylesheet" href="/style.css")
  body
    h1 Login to File Manager
    form(action="/login" method="POST")
      label(for="username") Username:
      input(type="text" name="username" required)
      label(for="password") Password:
      input(type="password" name="password" required)
      button(type="submit") Login
  footer
      p File Manager App by James Lindstrom