doctype html
html
  head
    title SFTP Browser
    link(rel="stylesheet" href="/style.css")
  body
    h1 SFTP Browser

    if message
      p= message

    // SFTP Connection Form
    form(action="/sftp/connect", method="POST")
      div
        label(for="host") Host:
        input(type="text" name="host" value=host )
      div
        label(for="username") Username:
        input(type="text" name="username" value=username )
      div
        label(for="password") Password:
        input(type="password" name="password" value=password )
      button(type="submit") Browse

    