
doctype html
html
  head
    title SSH Console
    link(rel="stylesheet" href="/style.css") 
    link(rel="stylesheet" href="/xterm.css")
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js")
    
  body
    h1 SSH Console
    p 
    a(href="/sftp") Back to SFTP Browser    
    div#terminal(style="width: 80%; height:700px; text-align: left;")
    script(src="/xterm.js")
    script(src="/xterm-addon-webgl.js")
    script(src="/xterm-addon-fit.js")
    script. 
      const serverId = "#{serverId}";
      document.addEventListener('DOMContentLoaded', function () {
    
        const socket = io()
        const term = new Terminal({
            convertEol: true,
            cursorBlink: true,
            allowProposedApi: true, 
            altClickMovesCursor: true,
            drawBoldTextInBrightColors: true,
            theme: {
                background: '#282c34'
            }
        })
        
        const fitAddon = new FitAddon.FitAddon();
        term.loadAddon(fitAddon);
        const webglAddon = new WebglAddon.WebglAddon()
        term.loadAddon(webglAddon)
        term.open(document.getElementById('terminal'))
        socket.emit('startSession', { serverId })
        fitAddon.fit()
        socket.on('output', (data) => {
          term.write(data)
        })
      
        term.onData((input) => {
          socket.emit('input', input)
        })
        if (webglAddon) {
            console.log('WebGL renderer initialized.')
        } else {
            console.log('WebGL renderer failed, falling back to default renderer.')
        }
        const handleResize = () => {
            fitAddon.fit();
        }
         window.addEventListener("resize", handleResize)
      })

     